{% extends ':catalog:layout.html.twig' %}

{#INDEX : VIEW OF ALL PRODUCTS CATEGORIES#}
{% block body_layout %}
    {% for message in app.session.flashbag.get('success') %}
        <p class="alert alert-success">{{ message }}</p>
    {% endfor %}
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item"><a href="{{ path('catalog_category',{id:category.id}) }}">{{category.title}}</a> <span class="badge">{ {count} }</span></li>
                {% else %}
                <li class="list-group-item">No category created :(</li>
                {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block title %}Index | {{ parent() }}{% endblock %}
