{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center">BLOG 🤡 <small>{{ 'texte.plural' | transchoice(12) }}</small></h1> <hr>
    
{% block body_layout %}{% endblock %}
{% endblock %}
{% block title %}Blog Symfony From Space{% endblock %}
